.header {
  position: fixed;
  width: 100%;
  height: 70px;
  background: linear-gradient(135deg, #244d76, #3a6ea5, #1b2f4a);
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1000;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 16px;
  letter-spacing: 0.1rem;

  transition: all ease 0.3s;
}

.logo:hover {
  transform: translateY(-1px) scale(1.02);
}
